header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

h1 a {
  display: flex;
  height: 3rem;
  max-width: 145px;
  justify-content: center;
  align-items: center;
}

h1 .imgHeader {
  height: 1.5rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 0.62rem;
  flex-direction: row;
}

nav li a {
  text-decoration: none;
  color: var(--color-prim);
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

nav .active {
  text-decoration: underline;
}

@media screen and (min-width: 500px) {
  header {
    margin: 2rem;
    margin-bottom: 2.5rem;
  }
  h1 .imgHeader {
    height: 3rem;
  }

  nav ul {
    gap: 2.5rem;
  }

  nav li a {
    font-size: 1rem;
    text-transform: initial;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 3rem;
  }

  h1 .imgHeader {
    height: 4.25rem;
  }

  nav ul {
    gap: 3.5rem;
  }

  nav li a {
    font-size: 1.5rem;
    text-transform: initial;
  }
}
