.footer {
  position: relative;
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 2rem;
  height: 210px;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  padding-top: 3rem;
}

.imgFooter {
  height: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 500px) {
  .imgFooter {
    height: 3rem;
  }
  .pFooter {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .imgFooter {
    height: 4.25rem;
  }
  .pFooter {
    font-size: 1.5rem;
  }
}
