.container-slider {
  max-width: 1240px;
  margin: auto;
  height: 16rem;
  overflow: hidden;
  margin-top: 2rem;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
}

.slide {
  max-width: 1240px;
  height: 100%;
  margin: auto;
  position: absolute;
  opacity: 0;
}

.active-anim {
  opacity: 1;
}

.slide img {
  max-width: 1240px;
  object-fit: cover;
  border-radius: 10px;
}

.arrowRight {
  position: absolute;
  top: 50%;
  height: 2rem;
  right: 2rem;
  cursor: pointer;
}

.arrowLeft {
  position: absolute;
  top: 50%;
  height: 2rem;
  left: 2rem;
  cursor: pointer;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .compteur-img {
    z-index: 2;
    align-self: flex-end;
    margin-bottom: 1rem;
    color: white;
    font-weight: 500;
  }

  .container-slider {
    height: 26rem;
  }

  .arrowLeft,
  .arrowRight {
    height: 3rem;
  }

  .slide img {
    border-radius: 25px;
  }
}
